<div id="footer">
    <div class="container">
        <p>
            <a href="https://m.80s.la/dm/24622#">
                返回顶部
            </a>
            <span>
                |
            </span>
            <a href="https://m.80s.la/">
                80s电影网
            </a>
            <span>
                |
            </span>
            <a href="javascript:void(0);" target="_blank">
                下载教程
            </a>
            <span>
                |
            </span>
            <a href="javascript:void(0);">
                联系我们
            </a>
        </p>
        <p id="copyright">
            80s电影网手机版(https://m.80s.la )，专业的MP4视频网站
        </p>
        <a id="full-site-link" class="btn btn-sm btn-success center-block" href="https://www.80s.la/">
            <span class="glyphicon glyphicon-log-in">
            </span>
            切换至电脑版
        </a>
    </div>

</div>

<dl id="position">
    <dd><a href="/index"><img th:src="@{/images/menu-index.png}"><font>首页</font></a></dd>
    <dd><a href="/recharge"><img th:src="@{/images/menu-recharge.png}"><font>充值</font></a></dd>
    <dd><a href="/login"><img th:src="@{/images/menu-my.png}"><font>我的</font></a></dd>
</dl>