<div role="navigation" class="navbar navbar-inverse" id="nav">
    <div class="container">
        <div class="navbar-header" style="padding-left: 1em;">
            <a class="navbar-brand text-hide" href="">
                <img src="./images/logo.jpg" alt="80s电影网">
                80s电影网
            </a>
            <button class="navbar-toggle" data-toggle="collapse" data-target="#responsive-navbar">
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <button id="resp_search_btn" class="visible-xs-inline" data-toggle="collapse"
                    data-target="#responsive-navbar">
                <span class="glyphicon glyphicon-search" style="color:#fff; font-size:20px;">
                </span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="responsive-navbar">
            <ul class="nav navbar-nav" style="font-size:16px;">
                <li><a href="https://m.80s.la/movie/1-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span> 电影</a>
                </li>
                <li><a href="https://m.80s.la/ju/9-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span> 大陆电视剧</a>
                </li>
                <li><a href="https://m.80s.la/ju/10-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span>
                    港台电视剧</a></li>
                <li><a href="https://m.80s.la/ju/11-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span>
                    日韩电视剧</a></li>
                <li><a href="https://m.80s.la/ju/12-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span> 欧美剧</a>
                </li>
                <li><a href="https://m.80s.la/dm/14-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span> 动漫</a>
                </li>
                <li><a href="https://m.80s.la/zy/4-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span> 综艺</a>
                </li>
                <li><a href="https://m.80s.la/mv/5-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span> 音乐MV</a>
                </li>
                <li><a href="https://m.80s.la/video/6-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span>
                    视频短片</a></li>
                <li><a href="https://m.80s.la/course/7-0-0-0-0-0-0"><span class="glyphicon glyphicon-film"></span>
                    公开课</a></li>

                <li id="search-bar">
                    <form class="navbar-form navbar-right form-inline" action="https://m.80s.la/search" method="post">
                        <div class="form-group">
                            <input type="text" class="form-control" id="search_input" name="keyword"
                                   placeholder="输入电影名...">
                        </div>
                        <button type="submit" class="" id="search_btn">
                            <span class="glyphicon glyphicon-search">
                            </span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</div>